#hovers:hover{
  border: 1px solid green;
  box-shadow:0 8px 15px 15px rgba(0, 223, 78, 0.2);
}
#hovers{
  border: 1px solid rgb(188, 188, 188);
 
}
/* #OfferCard{
  background-image: url("https://live.staticflickr.com/4125/5063188246_4ccaca3918_b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
} */
input:focus{
  outline: none;
}
#bttn{
  border: 1px solid rgb(191, 191, 191);
}
#hr{
  border:1px solid rgba(0, 0, 0, 0.2);
}
#FontFamily{
  font-family:'Times New Roman', Times, serif;
}
.offer_card_section :hover{
  cursor: pointer;
}
.discount{
  height: 25px;
}
.seeAll{
  cursor: pointer;
}
.w{
  width: 30px;
}